body{
background-color: #7AD4DD;
font-family: 'Playfair Display', serif;

  background-position-y:-100%;

background-repeat: no-repeat;
background-image: url("farm-summer-landscape-illustration-cartoon-farmland-countryside-background-scene-with-road-farmers-house-through-green-grass-field-meadow-hills-grassland-wind-mills-nature-scenery_213110-516.webp");
}
h1{
  padding: 10px;
font-family:  cursive;
}

.hori-row{
  position: absolute;
  top:300px;
width: 100%;
}
.heading{
  text-align: center;
color: red;
width: 100%;
position: absolute;
top:70px;

}
.container{
  position: relative;
margin: 0;
}
.lines{
    text-align: center;
  position: absolute;
  width: 100%;
  margin: 0;
top:400px;
}

hr{

   border-style: dotted none none none;
   width: 120px;
    color: grey;
  border-width: 5px;
  box-sizing: border-box;
}
